form {
	padding-top: 5vh;
	text-align: center;

	& input {
		margin: 0 auto;
		display: block;
		width: 30vw;
		font-size: 25px;
		padding: 15px;
		border-radius: 10px;
		box-shadow: beige;
	}

	& button[type='submit'] {
		margin: 50px 0;
		width: 150px;
		min-height: 50px;
		display: inline-block;
		border-radius: 10px;
		border: none;
		background-color: rgb(192, 191, 191);
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
	}
}

.gallery {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	& .photo-card {
		flex: 0 0 25%;
		padding: 15px;

		&-wrap {
			height: 30vh;
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		& .stats {
			display: flex;
			align-items: center;
			justify-content: space-between;

			& p {
				display: flex;
				align-items: center;
				margin: 15px 0 0 0;
			}

			& i {
				margin-right: 15px;
			}
		}
	}
}

.load {
	display: flex;
	justify-content: center;
	align-items: center;

	&-more {
		margin: 50px 0;
		width: 300px;
		min-height: 50px;
		display: inline-block;
		border-radius: 10px;
		border: none;
		background-color: rgb(192, 191, 191);
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		display: inline-block;

		&.is-hidden {
			display: none;
		}
	}
}
